In [83]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [84]:
data = pd.read_csv("credit_customers.csv")

In [85]:
data.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   object
 1   duration                1000 non-null   float64
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   credit_amount           1000 non-null   float64
 5   savings_status          1000 non-null   object
 6   employment              1000 non-null   object
 7   installment_commitment  1000 non-null   float64
 8   personal_status         1000 non-null   object
 9   other_parties           1000 non-null   object
 10  residence_since         1000 non-null   float64
 11  property_magnitude      1000 non-null   object
 12  age                     1000 non-null   float64
 13  other_payment_plans     1000 non-null   object
 14  housing                 1000 non-null   object
 15  existing_credits        1000 non-null   float64
 16  job                     1000 non-null   object
 17  num_dependents          1000 non-null   float64
 18  own_telephone           1000 non-null   object
 19  foreign_worker          1000 non-null   object
 20  class                   1000 non-null   object
dtypes: float64(7), object(14)
memory usage: 164.2+ KB

In [87]:
data.isnull().sum()

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

In [88]:
data.dtypes

checking_status            object
duration                  float64
credit_history             object
purpose                    object
credit_amount             float64
savings_status             object
employment                 object
installment_commitment    float64
personal_status            object
other_parties              object
residence_since           float64
property_magnitude         object
age                       float64
other_payment_plans        object
housing                    object
existing_credits          float64
job                        object
num_dependents            float64
own_telephone              object
foreign_worker             object
class                      object
dtype: object

In [89]:
data[['sex', 'marriage']] = data.personal_status.str.split(" ", expand = True)
data.drop(['personal_status'], axis=1, inplace = True)

In [90]:
categorical_feature = [feature for feature in data.columns if data[feature].dtype == "O" ]

data[categorical_feature].head()

,checking_status,credit_history,purpose,savings_status,employment,other_parties,property_magnitude,other_payment_plans,housing,job,own_telephone,foreign_worker,class,sex,marriage
0,<0,critical/other existing credit,radio/tv,no known savings,>=7,none,real estate,none,own,skilled,yes,yes,good,male,single
1,0<=X<200,existing paid,radio/tv,<100,1<=X<4,none,real estate,none,own,skilled,none,yes,bad,female,div/dep/mar
2,no checking,critical/other existing credit,education,<100,4<=X<7,none,real estate,none,own,unskilled resident,none,yes,good,male,single
3,<0,existing paid,furniture/equipment,<100,4<=X<7,guarantor,life insurance,none,for free,skilled,none,yes,good,male,single
4,<0,delayed previously,new car,<100,1<=X<4,none,no known property,none,for free,skilled,none,yes,bad,male,single

In [91]:
categorical_feature

['checking_status',
 'credit_history',
 'purpose',
 'savings_status',
 'employment',
 'other_parties',
 'property_magnitude',
 'other_payment_plans',
 'housing',
 'job',
 'own_telephone',
 'foreign_worker',
 'class',
 'sex',
 'marriage']

In [92]:
print("Number of Categorical_feature:", len(categorical_feature))

Number of Categorical_feature: 15

In [93]:
numerical_feature = [feature for feature in data.columns if data[feature].dtype != "O" ]

data[numerical_feature].head()

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
0,6.0,1169.0,4.0,4.0,67.0,2.0,1.0
1,48.0,5951.0,2.0,2.0,22.0,1.0,1.0
2,12.0,2096.0,2.0,3.0,49.0,1.0,2.0
3,42.0,7882.0,2.0,4.0,45.0,1.0,2.0
4,24.0,4870.0,3.0,4.0,53.0,2.0,2.0

In [94]:
numerical_feature

['duration',
 'credit_amount',
 'installment_commitment',
 'residence_since',
 'age',
 'existing_credits',
 'num_dependents']

In [95]:
print("Number of Numerical_feature:", len(numerical_feature))

Number of Numerical_feature: 7

In [96]:
data.head(10)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,other_parties,residence_since,...,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class,sex,marriage
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,none,4.0,...,none,own,2.0,skilled,1.0,yes,yes,good,male,single
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,none,2.0,...,none,own,1.0,skilled,1.0,none,yes,bad,female,div/dep/mar
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,none,3.0,...,none,own,1.0,unskilled resident,2.0,none,yes,good,male,single
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,guarantor,4.0,...,none,for free,1.0,skilled,2.0,none,yes,good,male,single
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,none,4.0,...,none,for free,2.0,skilled,2.0,none,yes,bad,male,single
5,no checking,36.0,existing paid,education,9055.0,no known savings,1<=X<4,2.0,none,4.0,...,none,for free,1.0,unskilled resident,2.0,yes,yes,good,male,single
6,no checking,24.0,existing paid,furniture/equipment,2835.0,500<=X<1000,>=7,3.0,none,4.0,...,none,own,1.0,skilled,1.0,none,yes,good,male,single
7,0<=X<200,36.0,existing paid,used car,6948.0,<100,1<=X<4,2.0,none,2.0,...,none,rent,1.0,high qualif/self emp/mgmt,1.0,yes,yes,good,male,single
8,no checking,12.0,existing paid,radio/tv,3059.0,>=1000,4<=X<7,2.0,none,4.0,...,none,own,1.0,unskilled resident,1.0,none,yes,good,male,div/sep
9,0<=X<200,30.0,critical/other existing credit,new car,5234.0,<100,unemployed,4.0,none,2.0,...,none,own,2.0,high qualif/self emp/mgmt,1.0,none,yes,bad,male,mar/wid

In [97]:
data['class'].replace(['good', 'bad'], [1,0], inplace = True)

In [98]:
for feature in categorical_feature:
    labels_ordered=data.groupby([feature])['class'].mean().sort_values().index
    labels_ordered={k:i for i,k in enumerate(labels_ordered,0)}
    data[feature]=data[feature].map(labels_ordered)

In [99]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   int64
 1   duration                1000 non-null   float64
 2   credit_history          1000 non-null   int64
 3   purpose                 1000 non-null   int64
 4   credit_amount           1000 non-null   float64
 5   savings_status          1000 non-null   int64
 6   employment              1000 non-null   int64
 7   installment_commitment  1000 non-null   float64
 8   other_parties           1000 non-null   int64
 9   residence_since         1000 non-null   float64
 10  property_magnitude      1000 non-null   int64
 11  age                     1000 non-null   float64
 12  other_payment_plans     1000 non-null   int64
 13  housing                 1000 non-null   int64
 14  existing_credits        1000 non-null   float64
 15  job                     1000 non-null   int64
 16  num_dependents          1000 non-null   float64
 17  own_telephone           1000 non-null   int64
 18  foreign_worker          1000 non-null   int64
 19  class                   1000 non-null   int64
 20  sex                     1000 non-null   int64
 21  marriage                1000 non-null   int64
dtypes: float64(7), int64(15)
memory usage: 172.0 KB

In [100]:
# dividing the dataset
X_data = data.drop(['class'], axis = 1)
Y_data = data['class']
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test= train_test_split(X_data,Y_data,test_size=0.3, random_state=0)

In [101]:
# feature_scale=[feature for feature in data.columns if feature not in ['class']]

# from sklearn.preprocessing import MinMaxScaler
# S_scaler = MinMaxScaler()
# S_scaler = S_scaler.fit(data[feature_scale])

# Feature scaling using standard scaler
from sklearn.preprocessing import StandardScaler
S_scaler = StandardScaler()

S_scaler = S_scaler.fit_transform(X_train)
X_train = pd.DataFrame(S_scaler,columns = X_train.columns)
X_train.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,other_parties,residence_since,...,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,sex,marriage
0,-0.444613,0.254000,1.328528,-1.599564,3.021133,-0.701520,-0.178288,-0.900595,-3.285890,0.117351,...,0.255885,0.441230,0.577808,1.006221,-2.138185,2.393903,1.164862,-0.19245,0.645759,0.836226
1,1.143289,1.250077,-0.509357,-2.001465,-0.513904,-0.701520,-0.178288,0.895464,-0.027925,1.040340,...,0.085457,-1.015662,-2.429372,-0.715918,0.131306,-0.417728,1.164862,-0.19245,0.645759,0.836226
2,-1.238563,-0.493058,1.328528,0.409939,-0.633031,-0.701520,0.616627,0.895464,-0.027925,1.040340,...,0.681955,0.441230,0.577808,1.006221,0.131306,2.393903,1.164862,-0.19245,0.645759,0.836226
3,1.143289,0.254000,1.328528,0.811839,-0.619756,2.616481,-0.178288,0.895464,-0.027925,-1.728627,...,0.596741,0.441230,0.577808,1.006221,1.266052,-0.417728,-0.858471,-0.19245,-1.548567,-1.131365
4,-1.238563,-0.991097,-0.509357,0.409939,-0.403161,-0.701520,-0.178288,-0.002566,-0.027925,-0.805638,...,-0.937110,0.441230,0.577808,-0.715918,0.131306,-0.417728,-0.858471,-0.19245,0.645759,0.836226

In [102]:
T_scaler = StandardScaler()
T_scaler = T_scaler.fit_transform(X_test)
X_test = pd.DataFrame(T_scaler,columns = X_test.columns)
X_test.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,other_parties,residence_since,...,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,sex,marriage
0,-1.293103,1.258437,-0.489548,0.468568,0.268729,-0.718231,-0.831202,0.974162,-0.055641,0.192098,...,-0.432391,0.5057,0.603957,-0.679491,-2.029821,-0.452570,1.343033,-0.204124,0.728431,0.868041
1,1.106470,-0.979399,-0.489548,-1.180352,0.128410,0.116921,-0.093449,-1.690719,3.282848,-0.681073,...,-0.817309,0.5057,-0.834036,-0.679491,0.133399,2.209605,-0.744583,4.898979,0.728431,0.868041
2,1.106470,-0.233453,-0.489548,0.468568,-0.261694,-0.718231,-0.093449,0.085868,-0.055641,1.065269,...,0.818592,0.5057,0.603957,-0.679491,0.133399,-0.452570,1.343033,-0.204124,0.728431,0.868041
3,-0.493246,-0.730750,1.381336,-1.180352,-0.452705,0.116921,-1.568956,0.974162,-0.055641,-1.554244,...,-0.721080,0.5057,0.603957,-0.679491,0.133399,-0.452570,-0.744583,-0.204124,0.728431,0.868041
4,1.106470,3.247625,-0.489548,-1.180352,2.622204,-0.718231,0.644305,-0.802425,-0.055641,1.065269,...,0.722363,0.5057,0.603957,-0.679491,-2.029821,-0.452570,1.343033,-0.204124,0.728431,0.868041

In [103]:
scaling_feature=[feature for feature in X_train.columns if feature not in ['class'] ]
len(scaling_feature)

21

In [104]:
X_train.describe()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,other_parties,residence_since,...,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,sex,marriage
count,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,...,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02
mean,-6.597897e-17,-8.628019e-17,-5.075305e-18,-1.497215e-16,-1.015061e-17,-7.612958e-18,6.217249e-17,2.131628e-16,-3.476584e-16,9.643080e-17,...,2.233134e-16,7.866723e-17,8.628019e-17,1.015061e-17,-5.075305e-17,-5.075305e-17,4.060244e-17,5.075305e-18,-6.724779e-17,1.065814e-16
std,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,...,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00,1.000715e+00
min,-1.238563e+00,-1.406129e+00,-2.347241e+00,-2.001465e+00,-1.052946e+00,-7.015203e-01,-1.768119e+00,-1.798625e+00,-3.285890e+00,-1.728627e+00,...,-1.448393e+00,-2.472554e+00,-2.429372e+00,-7.159175e-01,-2.138185e+00,-4.177280e-01,-8.584711e-01,-1.924501e-01,-1.548567e+00,-2.115160e+00
25%,-1.238563e+00,-7.420776e-01,-5.093566e-01,-1.197664e+00,-6.752150e-01,-7.015203e-01,-1.782881e-01,-9.005953e-01,-2.792541e-02,-8.056375e-01,...,-7.666818e-01,4.412302e-01,-9.257820e-01,-7.159175e-01,1.313063e-01,-4.177280e-01,-8.584711e-01,-1.924501e-01,-1.548567e+00,-1.131365e+00
50%,-4.446125e-01,-2.440390e-01,-5.093566e-01,4.099386e-01,-3.427244e-01,-7.015203e-01,-1.782881e-01,-2.565798e-03,-2.792541e-02,1.173515e-01,...,-2.553983e-01,4.412302e-01,5.778083e-01,-7.159175e-01,1.313063e-01,-4.177280e-01,-8.584711e-01,-1.924501e-01,6.457585e-01,8.362261e-01
75%,1.143289e+00,2.539997e-01,1.328528e+00,8.118391e-01,2.640032e-01,9.574804e-01,6.166272e-01,8.954637e-01,-2.792541e-02,1.040340e+00,...,5.967409e-01,4.412302e-01,5.778083e-01,1.006221e+00,1.313063e-01,-4.177280e-01,1.164862e+00,-1.924501e-01,6.457585e-01,8.362261e-01
max,1.143289e+00,4.238309e+00,1.328528e+00,1.615640e+00,5.286995e+00,2.616481e+00,1.411542e+00,8.954637e-01,3.230039e+00,1.040340e+00,...,3.323586e+00,4.412302e-01,5.778083e-01,4.450498e+00,1.266052e+00,2.393903e+00,1.164862e+00,5.196152e+00,6.457585e-01,8.362261e-01

In [106]:
X_test.describe()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,other_parties,residence_since,...,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,sex,marriage
count,3.000000e+02,3.000000e+02,3.000000e+02,3.000000e+02,3.000000e+02,3.000000e+02,3.000000e+02,3.000000e+02,3.000000e+02,3.000000e+02,...,3.000000e+02,3.000000e+02,3.000000e+02,3.000000e+02,3.000000e+02,3.000000e+02,3.000000e+02,3.000000e+02,3.000000e+02,3.000000e+02
mean,2.960595e-17,1.776357e-17,-9.769963e-17,2.368476e-17,5.921189e-17,7.105427e-17,1.421085e-16,-1.036208e-17,1.865175e-16,1.509903e-16,...,1.125026e-16,3.552714e-17,-1.302662e-16,-3.848773e-17,-8.881784e-18,1.480297e-16,-4.144833e-17,-5.921189e-17,4.440892e-17,9.769963e-17
std,1.001671e+00,1.001671e+00,1.001671e+00,1.001671e+00,1.001671e+00,1.001671e+00,1.001671e+00,1.001671e+00,1.001671e+00,1.001671e+00,...,1.001671e+00,1.001671e+00,1.001671e+00,1.001671e+00,1.001671e+00,1.001671e+00,1.001671e+00,1.001671e+00,1.001671e+00,1.001671e+00
min,-1.293103e+00,-1.393813e+00,-2.360433e+00,-2.004811e+00,-1.093693e+00,-7.182312e-01,-1.568956e+00,-1.690719e+00,-3.394131e+00,-1.554244e+00,...,-1.394687e+00,-2.179435e+00,-2.272029e+00,-6.794905e-01,-2.029821e+00,-4.525696e-01,-7.445832e-01,-2.041241e-01,-1.372813e+00,-2.057941e+00
25%,-1.293103e+00,-7.307501e-01,-4.895481e-01,-1.180352e+00,-6.748466e-01,-7.182312e-01,-8.312023e-01,-8.024251e-01,-5.564149e-02,-6.810734e-01,...,-7.210799e-01,5.057004e-01,-8.340361e-01,-6.794905e-01,1.333985e-01,-4.525696e-01,-7.445832e-01,-2.041241e-01,-1.372813e+00,-1.082613e+00
50%,-4.932457e-01,-2.334533e-01,-4.895481e-01,4.685680e-01,-3.318534e-01,-7.182312e-01,-9.344878e-02,8.586837e-02,-5.564149e-02,1.920976e-01,...,-2.399323e-01,5.057004e-01,6.039572e-01,-6.794905e-01,1.333985e-01,-4.525696e-01,-7.445832e-01,-2.041241e-01,7.284314e-01,8.680414e-01
75%,1.106470e+00,2.638436e-01,1.381336e+00,8.807979e-01,2.497199e-01,9.520739e-01,6.443047e-01,9.741619e-01,-5.564149e-02,1.065269e+00,...,5.299039e-01,5.057004e-01,6.039572e-01,1.077813e+00,1.333985e-01,-4.525696e-01,1.343033e+00,-2.041241e-01,7.284314e-01,8.680414e-01
max,1.106470e+00,3.247625e+00,1.381336e+00,1.705258e+00,4.639207e+00,2.622379e+00,1.382058e+00,9.741619e-01,3.282848e+00,1.065269e+00,...,3.897937e+00,5.057004e-01,6.039572e-01,4.592419e+00,1.215008e+00,2.209605e+00,1.343033e+00,4.898979e+00,7.284314e-01,8.680414e-01

In [107]:
for i in [X_train, X_test, y_train, y_test]:
    print (i.shape)

(700, 21)
(300, 21)
(700,)
(300,)

In [108]:
# for faeture selection
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

# to visualise all the columns in the dataframe
pd.pandas.set_option('display.max_columns', None)

In [109]:
X_train.shape

(700, 21)

In [110]:
# y_train = data[['class']]
# X_train =  data.drop(['class'], axis = 1)

feature_sel_model = SelectFromModel(Lasso(alpha=0.005, random_state=0)) # remember to set the seed, the random state in this function
feature_sel_model.fit(X_train, y_train)

SelectFromModel(estimator=Lasso(alpha=0.005, random_state=0))

In [111]:
feature_sel_model.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True, False,  True])

In [112]:
# this is how we can make a list of the selected features
selected_feat = X_train.columns[(feature_sel_model.get_support())]

# let's print some stats
print('total features: {}'.format((X_train.shape[1])))
print('selected features: {}'.format(len(selected_feat)))
print('features with coefficients shrank to zero: {}'.format(
    np.sum(feature_sel_model.estimator_.coef_ == 0)))

total features: 21
selected features: 18
features with coefficients shrank to zero: 3

In [113]:
selected_feat.shape
X_train = X_train[selected_feat]
X_train.shape

(700, 18)

In [114]:
X_test = X_test[selected_feat]
X_test.shape

(300, 18)

In [115]:
for i in [X_train, X_test, y_train, y_test]:
    print (i.shape)

(700, 18)
(300, 18)
(700,)
(300,)

In [116]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()

In [117]:
lr_mode = lr_model.fit(X_train,y_train)

In [118]:
X_train.shape, X_test.shape

((700, 18), (300, 18))

In [119]:
lr_prediction = lr_model.predict(X_test)

In [120]:
from sklearn.metrics import classification_report 
classification_report(y_test,lr_prediction)

'              precision    recall  f1-score   support\n\n           0       0.61      0.56      0.58        86\n           1       0.83      0.86      0.84       214\n\n    accuracy                           0.77       300\n   macro avg       0.72      0.71      0.71       300\nweighted avg       0.76      0.77      0.77       300\n'

In [121]:
def model_eval(m):
    model = m
    model.fit(X_train,y_train)
    prediction = model.predict(X_test)
    print(model)
    print(classification_report(y_test,prediction))

In [122]:
model_eval(lr_model)

LogisticRegression()
              precision    recall  f1-score   support

           0       0.61      0.56      0.58        86
           1       0.83      0.86      0.84       214

    accuracy                           0.77       300
   macro avg       0.72      0.71      0.71       300
weighted avg       0.76      0.77      0.77       300

In [123]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, max_features = 20)

In [124]:
model_eval(rf)

RandomForestClassifier(max_features=20)
              precision    recall  f1-score   support

           0       0.62      0.52      0.57        86
           1       0.82      0.87      0.85       214

    accuracy                           0.77       300
   macro avg       0.72      0.70      0.71       300
weighted avg       0.76      0.77      0.77       300

In [125]:
from sklearn.naive_bayes import GaussianNB

In [126]:
nb_model = GaussianNB()
model_eval(nb_model)

GaussianNB()
              precision    recall  f1-score   support

           0       0.52      0.65      0.58        86
           1       0.84      0.76      0.80       214

    accuracy                           0.73       300
   macro avg       0.68      0.71      0.69       300
weighted avg       0.75      0.73      0.74       300